In [5]:
# List of High Schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [6]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [8]:
# List of high schools

high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [9]:
# Add the Pandas dependency.

import pandas as pd

In [10]:
# Create a Pandas Series from a list.

school_series = pd.Series(high_schools)

school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [12]:
# List of Counties

counties = ["Douglas", "Salt Lake", "Meridian"]

# Add the pandas dependency.

import pandas as pd

# Create a panda series from a list.

counties_series = pd.Series(Counties)

counties_series

NameError: name 'Counties' is not defined

In [13]:
# List of Counties

counties = ["Douglas", "Salt Lake", "Meridian"]

# Add the pandas dependency.

import pandas as pd

# Create a panda series from a list.

counties_series = pd.Series(Counties)

counties_series

NameError: name 'Counties' is not defined

In [14]:
# List of Counties

counties = ["Douglas", "Salt Lake", "Meridian"]

# Add the pandas dependency.

import pandas as pd

# Create a panda series from a list.

counties_series = pd.Series(County)

counties_series

NameError: name 'County' is not defined

In [16]:
bootcamp_unis = ["UCLA", "UC Berkeley", "UC Irvine","University of Central Florida", "Rutgers University"]

In [17]:
import pandas as pd

In [18]:
unis_series = pd.series(bootcamp_unis)

unis_series

AttributeError: module 'pandas' has no attribute 'series'

In [19]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [20]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [21]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [22]:
# Initialize a new DataFrame.

schools_df = pd.DataFrame()

In [23]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [24]:
# Add the list to a new DataFrame.
schools_df["School Name"] = school_name

In [25]:
# Print the DataFrame.
schools_df

   School ID            School Name
0          0      Huang High School
1          1   Figueroa High School
2          2    Shelton High School
3          3  Hernandez High School
4          4    Griffin High School

In [26]:
# Add the list to a new DataFrame.
schools_df["School Type"] = school_type

NameError: name 'school_type' is not defined

In [27]:
# Add the list to a new DataFrame.
schools_df["Type of School"] = type

In [29]:
# Print the DataFrame.
schools_df

   School ID            School Name            Type
0          0      Huang High School  <class 'type'>
1          1   Figueroa High School  <class 'type'>
2          2    Shelton High School  <class 'type'>
3          3  Hernandez High School  <class 'type'>
4          4    Griffin High School  <class 'type'>

In [30]:
# Add the list to a new DataFrame.
schools_df["Type of School"] = type

In [31]:
# Print the DataFrame.
schools_df

   School ID            School Name            Type  Type of School
0          0      Huang High School  <class 'type'>  <class 'type'>
1          1   Figueroa High School  <class 'type'>  <class 'type'>
2          2    Shelton High School  <class 'type'>  <class 'type'>
3          3  Hernandez High School  <class 'type'>  <class 'type'>
4          4    Griffin High School  <class 'type'>  <class 'type'>

In [32]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [33]:
# Add the lists to a new DataFrame.

schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type of School"] = type_of_school

In [34]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [35]:
schools_df = pd.DataFrame()

In [38]:
# Add the lists to a new DataFrame.

schools_df["School ID"] = school_id
schools_df["School Name"] = school_name
schools_df["Type of School"] = type_of_school

In [37]:
schools_df["School ID"] = school_id

In [39]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [1]:
# Determine if there are any missing values in the school data.
school_data_df.count()

NameError: name 'school_data_df' is not defined